h1, h3, p{
	color: black;
	font-family: courier;
}

h3{
	color: white;
	text-shadow: 1px 1px black;
}

p{
	font-size: 16px;
}

.big-title{
	font-family: courier;
	font-size: 64px;
	color: white;
	text-shadow: 2px 2px black;
}

.navbar-default .navbar-brand{
	color: #003366;
}

.navbar-default .navbar-nav>li>a{
	color: #003366;
}