h1, h2, h3, h4, p{
	color: black;
	font-family: courier;
}
p{
	font-size: 16px;
}
.big-title{
	font-size: 64px;
	color: white;
	text-shadow: 2px 2px black;
}

.navbar-default .navbar-brand{
	color: black;
}

.navbar-default .navbar-nav>li>a{
	color: black;
}