h1, h2, h3, p{
	color: black;
	font-family: courier;
}

.big-title{
	font-size: 64px;
	color: white;
	text-shadow: 1px 1px black;
}

.navbar-default .navbar-brand{
	color: black;
}

.navbar-default .navbar-nav>li>a{
	color: black;
}